<% content_for :devise_form do %>
  <main class="form-signin">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <img class="mb-4" src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
      <div class="field">
        <%= f.label :email, class:"label" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>

      <div class="field">
        <%= f.label :password, class:"label" %>
        <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
      </div>

      <div class="field">
        <% if devise_mapping.rememberable? -%>
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me, class:"checkbox mb-3" %>
        <% end -%>
      </div>
       <br>
      <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
       
      <p class="mt-5 mb-3 text-muted">
        <%= render "devise/shared/links" %>
      </p>

    <% end %>

  </main>
<% end %>

<%= render "devise/shared/form_wrap" %>
